.customHeading {
    color: #00B98E;
}

.custom-form-group label {
    color: #00B98E;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
}

.custom-form-group span {
    width: 32px;
    border-bottom: 1px solid #00B98E;
    vertical-align: middle;
    color: #00B98E;
    display: inline;
    padding-bottom: .4rem !important;
}

.custom-form-group input {
    width: calc(100% - 32px);
    border: none;
    border-bottom: 1px solid #00B98E;
    box-sizing: content-box;
    outline: none;
}

.custom-btn {
    border-radius: 15px;
    min-width: 150px;
    background: #00B98E;
    border: 2px solid transparent;
    color: #fff;
    height: 48px;
    margin: 0 auto;
}

.custom-btn:hover {
    background: #fff;
    border: none;
    border: 2px solid #00B98E;
    color: #00B98E;
}

#formPanel {
    min-width: 280px;
    max-width: 320px;
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 991.98px) {
    #formPanel {
        max-width: 450px!important;
    }
}

.objectFit {
    object-fit: cover;
    width: 100%;
    max-width: 400px;
    min-height: 60vh;
    margin: 0 auto;
    object-position: center;
}

#showCursor {
    cursor: pointer
}